@font-face {
  font-family: "SnaarpFont";
  src: url("/assets/Fonts/SnaarpFont.ttf") format("ttf"),
    url("/assets/Fonts/SnaarpFont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.w-200 {
  width: 16.34% !important;
  border-radius: 8px;
}

.w-100 {
  width: 100px !important;
}

.form-switch.form-switch-lg {
  padding-left: 2.5rem;
}

.form-switch.form-switch-lg .form-check-input {
  width: 3rem;
  height: 1.5rem;
  margin-left: -2.5rem;
}

body {
  font-family: "Inter", sans-serif;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  padding-top: 14px;
}

.nav-link {
  font-size: 12px;
  margin-bottom: 10px;
  color: #919191 !important;
}

.nav-item-footer {
  padding-top: 5rem;
}

.nav-pills .nav-link.active {
  background-color: #ecf3ff !important;
  color: #5269ff !important;
  font-weight: 600 !important;
}

.navbar-wraper {
  display: flex;
  justify-content: space-between;
}

.navbar {
  border-radius: 8px;
  border-bottom: none !important;
}

input::placeholder {
  font-size: 13px;
  color: #919191;
}

input:focus {
  box-shadow: none;
  outline: none;
}

.dashbd-title-wrap {
  background-color: white;
  border-radius: 8px;
  padding: 14px 12px;
}

.dashbd-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.navtext {
  color: #3295ff;
}

.copywrap {
  font-size: 14px;
}

.icon-wrapper {
  background-color: #f6f6f6;
  border-radius: 8px;
  padding: 6px 9px;
}
.dashboard-content {
  display: flex;
  justify-content: space-between;
}

.dashboard-content_col1 {
  width: 27%;
}

.dashboard-content_col2 {
  width: 72%;
}

.organizations-container {
  padding: 13px;
  background-color: #ffffff;
  border-radius: 8px;
}

.organizations-title {
  font-size: 16px;
  color: #333333;
  margin-bottom: 16px;
}

.search-box {
  position: relative;
  margin-bottom: 16px;
}

.search-input {
  width: 100%;
  padding: 8px 36px 8px 36px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888888;
}

.radio-group {
  margin-bottom: 16px;
}

.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.radio-item input {
  margin-right: 8px;
  accent-color: #007bff;
}

.radio-label {
  font-size: 13px;
  color: #333333;
}

.select-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
}

.select-dropdown label {
  font-size: 14px;
  color: #333333;
}

.select-input {
  cursor: pointer;
  appearance: none;
  width: 100%;
  margin-top: 4px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.select-input:focus {
  border-color: #007bff;
}

.dashbd-widget-wrapper {
  border-radius: 8px;
  padding: 14px 16px;
  background-color: white;
  display: flex;
  gap: 15px;
}

.dashbd-widget-title {
  font-size: 13px;
  margin-bottom: 0px;
}

.dashbd-widget-content {
  background-color: #ecf3ff;
  color: #3295ff;
  padding: 6px 8px;
  border-radius: 8px;
}

.user-profile {
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  margin-bottom: 2px;
}

.user-email {
  font-size: 12px;
  color: #888;
}
